	<section class="embed-wrapper map-wrapper"{{#item.address}} data-address="{{.}}"{{/item.address}}>
    <div id="map-canvas" style="width: 100%; height: 100%"></div>
	</section><!-- /.embed-wrapper -->
  <section class="wrapper-xs bg-highlight remove-padding">
		<section class="wrapper-xs images-wrapper">
			<div class="row">
				{{#item.images}}
		    	<img src="{{.}}" alt="">
		  	{{/item.images}}
	  	</div>
		</section>
		<section id="ads-message" class="wrapper-xs">
			<div class="wrapper">
				<h3><span>Description</span>{{#item.price}}<span style="float:right;color:#16a085;">{{.}}<i class="fa fa-fw fa-euro"></i></span>{{/item.price}}</h3>
				<p class="">{{item.message}}</p>
				<div class="fb-wrapper">
					<a href="https://www.facebook.com/messages/{{item.author.id}}" target="_BLANK"><img src="/images/send.png" class="img-rounded" /></a>
				</div>
			 </div>
	</section>
